// Fonts
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

// Variables
@import 'variables';
// Variables
@import 'old';
// Bootstrap

@import '~bootstrap/scss/bootstrap';

@import 'node_modules/paper-kit-2/assets/sass/paper-kit.scss';

img.avatar.avatar-sm{
    height: 30px;
    width: 30px;
}

nav.navbar-transparent{
    a.navbar-brand{
        text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    }
    ul {
        li.nav-item{
            text-shadow: 0px 0px 10px rgba(0,0,0,0.9);
        }
    }
}
header {

    position: relative;
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;

    video {
        filter: grayscale(0.8);
        mix-blend-mode: overlay;
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

footer{
    background:rgba(0,96,115,1)!important;
}
