.header {
    display:grid;
    width: 100vw;
    height: auto;
    grid-template-columns: repeat(10, auto);
}
.header > div {
    display:flex;
    justify-content: center;
    align-items: center;
}
.whole {
    position: relative;
}
.list {
    display: grid;
    grid-template-rows: 25px auto;
    min-height: 150px;
    border: 1px solid #333;
    width: 45vw;
    margin: 10px;

}
.data {
    display:grid;
    grid-template-columns: repeat(4, auto);
}
.data > div {
    display:grid;
    grid-template-rows: repeat(6, 1fr);
}
.bills-btns {
    display:grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}
.bills-btns > div {
    display:flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: #f3f3f3;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.add-to-print-preview {
    position: fixed;
    top: 40px;
    right: 15vw;
    height: 6.5in;
    width: 4.25in;
    background-color: #fff;
    border: 1px solid #333;
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    font-size: 25%;
    font-family: 'Quicksand', sans-serif;
}

.add-print {
    position: relative;


}
.add-print > .add-print-div {
    margin: 3% 3% 3% 3%;
    display: grid;
    grid-auto-rows: auto;
}
.add-print:hover > .remove-print-btn {
    display:block;
    font-size: 20pt;
    transform: translate(-50%,-50%);

}
.add-print > .remove-print-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
    display: none;

}
.preview-bill {
    position: fixed;
    top: 40px;
    right: 8vw;
    height: 6.5in;
    width: 4.25in;
    background-color: #fff;
    border: 1px solid #333;
    font-size: 100%;
}
.preview-bill > div {
    margin: 3% 3% 3% 3%;
    display: grid;
    grid-auto-rows: auto;
}
.cashier-signature {
    display:grid;
    margin: 3% 3% 0 auto;
    grid-template-rows: repeat(2,1fr);
}
.cashier-signature > div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-buttons {
    position: fixed;
    right: 5vw;
    bottom: 5vh;
}

.add-student-form {
    background-color: #fff;
    width: 50%;
    height: auto;
    margin: auto auto auto 3%;
}

.add-student-form > .form-div {
    padding: 3%;
}
.select-css {
    display: block;
    color: #444;
    font-size: larger;
    line-height: 1;
    padding: 1%;
    width: 40%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

input{
    color: #444;
    font-size: larger;
    height: 37px;
    line-height: 1;
    padding: 1%;
    width: 40%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline-width: 0;
}

label {
    font-size: larger;
    margin: 1%;
    display: block;
    align-items: center;
}

.answer {
    margin-left: 3%;
}

.name-input {
    width: 94%;
    margin-right: 6%;
}

.div-two-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.div-two-columns > div > div label {
    margin: 2%;
}
.div-two-columns > div > div input {
    margin-left: 6%;
    width: 80%;
}

.as-of-divs > label {
    display: inline-flex;
    width: 100%;
}
.as-of-divs > label > select {
    font-size: large;
    width:35%;
}

.remarks-month {
    height: 37px;
    margin-left: 6%;
}

.button {
    background-color: rgb(66, 99, 129);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 30px;
}

.create-btn {
    background-color: rgb(41, 92, 139);
    box-shadow: none;

}
.create-btn:hover {
    transition: box-shadow .3s ease;
    box-shadow: 0 4px rgb(10, 26, 63);
}
.button:disabled {
    background-color: #888;
    cursor: default;
    box-shadow: none;
}

.margin-auto-auto {
    margin: 30px auto 20px auto;
}

.close-btn {
    background-color: rgb(156, 104, 60);


}
.close-btn:hover {
    transition: box-shadow 1s ease;
    box-shadow: 0 4px rgb(77, 4, 4);
    margin-top: -1px;
    transition: margin-top 1s ease;
    background-color: rgb(212, 61, 61);
    transition: background-color 1s ease;
}
